<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="login-container">

      <!-- leftside Heading starts here -->
      <div class="content">
        <div class="logo">
          <h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="white" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16" style="cursor: pointer;">
              <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
            </svg>
            POLICY CLOUD
          </h3>
        </div>
        <br><br><br><br><br><br>
        <p id="loginP1">Cloud hosting developers love</p>
        <p id="loginP2">Spin up Droplet cloud servers with industry leading price-performance and predictable costs.</p><br>
        <p id="loginP2">Try PolicyCloud free for 60 days.</p>
        <br><br><br><br><br><br><br><br>
      </div>
      <!-- left side Heading ends here -->

      <!-- Login box starts here -->
      <div class="login">

        <!-- login heading starts here -->
        <div class="heading">
          <p>Start your free trial with a ₹7400 credit for 60 days</p>
        </div>
        <!-- login heading starts here -->

        <div class="input-container">
          <!-- login input boxes and button starts here -->
          <div class="input">
            <div class="register-btn-logo">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 18 18" aria-hidden="true">
                <title>Google</title>
                <g fill="none" fill-rule="evenodd">
                  <path fill="#4285F4" d="M17.64 9.2045c0-.6381-.0573-1.2518-.1636-1.8409H9v3.4814h4.8436c-.2086 1.125-.8427 2.0782-1.7959 2.7164v2.2581h2.9087c1.7018-1.5668 2.6836-3.874 2.6836-6.615z"></path>
                  <path fill="#34A853" d="M9 18c2.43 0 4.4673-.806 5.9564-2.1805l-2.9087-2.2581c-.8059.54-1.8368.859-3.0477.859-2.344 0-4.3282-1.5831-5.036-3.7104H.9574v2.3318C2.4382 15.9832 5.4818 18 9 18z"></path>
                  <path fill="#FBBC05" d="M3.964 10.71c-.18-.54-.2822-1.1168-.2822-1.71s.1023-1.17.2823-1.71V4.9582H.9573A8.9965 8.9965 0 0 0 0 9c0 1.4523.3477 2.8268.9573 4.0418L3.964 10.71z"></path>
                  <path fill="#EA4335" d="M9 3.5795c1.3214 0 2.5077.4541 3.4405 1.346l2.5813-2.5814C13.4632.8918 11.426 0 9 0 5.4818 0 2.4382 2.0168.9573 4.9582L3.964 7.29C4.6718 5.1627 6.6559 3.5795 9 3.5795z"></path>
                </g>
              </svg>
            </div>
            <input id="emailInput"  [(ngModel)]="inputEmail" type="text" placeholder="Email Address"><br>
            <input id="pwdInput"  [(ngModel)]="inputPassword" type="password" placeholder="Password"><br>
            <button (click)="registerUser()">
              Register Account
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg> 
            </button>

            <div class="bottomP">
              <p>₹7400, 60-day free trial requires valid credit card.By signing up, you agree to the Terms of Service.</p>
            </div>

          </div>
        </div>
      </div> 
    </div>

  </body>
</html>
